<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Add Plan</title>
        {% load static %}
        <link rel='stylesheet' href="{% static 'travel_app/css/travel.css' %}">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </head>
    <body>
        {% if messages %}
        <ul class='messages'>
            {% for message in messages%}
            <li {% if message.tags %} class= '{{ message.tags }}' {% endif %}>
                {{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class='wrapper'>
            <div class='container-fluid'>
                <div class='row'>
                    <div class= 'col-2.5 ml-auto'>
                        <pre><a href='/travels'>Home</a>    <a href='/logout'>logout</a></pre>
                    </div>
                </div>
                <h2>Add a Trip:</h2><br><br>
                <form action='/processadd' method='post'>
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-1
                            col-form-label"><h5>Destination</h5></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"
                                id="inputEmail3" placeholder="Destination..."
                                name= 'destination'>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-1
                            col-form-label"><h5>Description</h5></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"
                                id="inputEmail3" placeholder="Description..."
                                name= 'description'>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2
                            col-form-label"><h5>Travel Date From:</h5></label>
                        <div class="col-sm-2">
                            <input type="date" class="form-control"
                                id="inputEmail3" placeholder="Date"
                                name= 'travel_date_from'>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2
                            col-form-label"><h5>Travel Date To:</h5></label>
                        <div class="col-sm-2">
                            <input type="date" class="form-control"
                                id="inputEmail3" placeholder="Date"
                                name= 'travel_date_to'>
                        </div>
                    </div>
                    <div class ='col-9 ml-auto'>
                        <button type="submit" class="btn btn-dark btn-outline-primary">Add Trip</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>