<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Destination</title>
        {% load static %}
        <link rel='stylesheet' href="{% static 'travel_app/css/travel.css' %}">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <div class='container-fluid'>
            <div class='row'>
                <div class= 'col-2.5 ml-auto logout'>
                    <pre><a href='/travels'>Home</a>    <a href='/logout'>logout</a></pre>
                </div>
            </div>
            <br><br>
            <div class = 'destination'>
                <h1>{{this_trip.destination}}</h1><br>
                <h4>Planned By: {{this_trip.planned_by}}</h4><br>
                <h4>Description: {{this_trip.description}}</h4><br>
                <h4>Travel Date From: {{this_trip.travel_date_from}}</h4><br>
                <h4>Travel Date To: {{this_trip.travel_date_to}}</h4><br>
            </div>
            <br><br>
            <div>
                <h4>Other Users Joining:</h4>
                <ul>
                    {% for user in all_users%}
                        {%if user.name != this_trip.planned_by%}
                    <li>{{user.name}}</li>
                        {%endif%}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>